/* Global font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap");
/* * { touch-action: none; pointer-events: none; } input, button, a { pointer-events: auto; } */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  color: #33373a;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

header img {
  margin: 2.5rem 0rem;
  width: 250px;
}

.title-container {
  text-align: center;
  padding: 0rem 2rem 2rem 2rem;
  width: 100%;
}

.title-container h1 {
  font-size: 4rem;
  font-weight: 500;
}
.title-container p {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.title-container small {
  font-size: 1.3rem;
}

.total {
  background: linear-gradient(
    0deg,
    rgba(104, 113, 120, 1) 0%,
    rgba(83, 90, 95, 1) 100%
  );
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 4rem;
}

.totalMoney {
  font-size: 2.4rem;
  margin: 0 2rem;
}
.percentageLeft {
  font-size: 2.4rem;
  margin: 0 2rem;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
  margin-top: 10rem;
}

.element {
  max-width: 380px;
  margin: 2rem 3rem;
  object-fit: cover;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(104, 113, 120, 1) 0%,
    rgba(83, 90, 95, 1) 100%
  );
  color: white;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.element img {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.element p {
  font-size: 2rem;
  padding: 0.3rem;
}

.element span {
  font-size: 1.8rem;
}

.buyAndSellContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 1.5rem 2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  margin: 1.5rem;
  background-color: white;
}

button {
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-buy {
  background-color: rgb(158, 221, 153);
}

.btn-sell {
  background-color: rgb(221, 153, 153);
}

.btn-sell:hover {
  background-color: rgb(253, 201, 192);
}

.btn-buy:hover {
  background-color: rgb(204, 252, 200);
}

.receipt {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.receipt h1 {
  padding: 1rem;
  font-size: 2.5rem;
}

.receipt p {
  font-size: 2rem;
  padding: 0.5rem;
}

.totalRecipt {
  font-size: 2.5rem;
  text-decoration: underline;
  padding: 1rem;
}

.btn-print {
  display: block;

  text-align: center;
}

.btn-print button {
  background-color: rgba(83, 90, 95, 1);
  color: white;
}

.btn-print button:hover {
  background-color: rgb(125, 135, 143);
  color: white;
}

.coffe-link {
  text-align: center;
  display: block;
  font-size: 1.7rem;
  margin: 3rem;
}

.coffe-link a {
  text-decoration: none;
  color: rgb(16, 209, 145);
  text-decoration: underline;
}

/* Media query */

@media screen and (max-width: 560px) {
  .total {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem;
    padding-top: 3rem;
  }

  .percentageLeft {
    margin-top: 1rem;
  }

  .percentageLeft,
  .totalMoney {
    font-size: 1.9rem;
    margin: 0;
  }

  .receipt {
    padding: 1px;
  }
  .receipt p {
    font-size: 1.1rem;
    padding: 0.4rem;
  }
}
